.*
!.gitignore
!.github
!.dockerignore
!.docker-nix

output
output-es
generated-docs
node_modules

package-lock.json
*.lock

openapitools.json

src/core/TTHouse/Api/Foreign/Scaffold
src/lib/TTHouse/Web/Bowser

app/*.js

api*.json
